.article {
  width: 100%;
  border: 2px solid thistle;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.article__image {
  width: 100%;
  max-width: 250px;
}

.article__heading {
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 2px;
  color: #527591;
}

.article__paragraph {
  font-weight: 100;
  text-shadow: 2px 2px #e3d58b;
  border-bottom: 1px dotted gold;
  padding-bottom: 5px;
}

.article__button {
  background-color: gold;
  color: black;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.2s;
  border: none;

  &:hover {
    opacity: 0.6;
  }
}