.hero-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  margin: 50px 0;
}

.align-end {
  align-self: flex-end;
}