.margin-bottom--30 {
  margin-bottom: 30px;
}

.margin-bottom--70 {
  margin-bottom: 70px;
}

.margin-bottom--100 {
  margin-bottom: 100px;
}

.margin-bottom--160 {
  margin-bottom: 160px;
}

.margin-top--160 {
  margin-top: 160px;
}

.padding-top--60 {
  padding-top: 60px;
}

.padding-top--120 {
  padding-top: 120px;
}

.padding-top--160 {
  padding-top: 160px;
}

.padding-bottom--160 {
  padding-bottom: 160px;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.m-width--55 {
  max-width: 55%;
}

.m-width--70 {
  max-width: 70%;
}

.m-width--80 {
  max-width: 80%;
}

.position-relative {
  position: relative;
}
