<form class="form" [formGroup]="plannerForm" (submit)="addTask()">
  <label class="form-label" for="inputQuestion">Question</label>
  <input
    #taskInput
    class="form-input"
    id="inputQuestion"
    type="text"
    formControlName="question"
    placeholder="Enter the question"
  />

  <label class="form-label" for="inputAnswer">Answer</label>
  <input
    #inputAnswer
    class="form-input"
    id="inputAnswer"
    type="text"
    formControlName="answer"
    placeholder="Enter the punchline"
  />
  <div class="div">
    <button class="form-button" [disabled]="!plannerForm.valid" type="submit">
      Create
    </button>
  </div>
</form>
